* {
    box-sizing: border-box;
    background-color: #000;
    /* outline: solid 1px red; */
}

html {
    font-size: 16px;
}

.title {
    font-size: 10rem;
    color: rgb(239, 88, 88);
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.rock,
.paper,
.scissor {
    border: none;
    font-size: 15rem;
}

.display-text {
    color: rgb(232, 179, 80);
}

.display {
    border: 0.2rem solid brown;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    font-size: 2rem;
    border-radius: 0.9rem;
}

.game-count {
    color: rgb(232, 179, 80);
}

.resetButt {
    color: white;
    background-color: blue;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.8rem;
}